{
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "endOfLine": "auto",
  "printWidth": 140,
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": ["^react$", "^react-(.*)$", "^@?\\w", "<THIRD_PARTY_MODULES>", "^@/(.*)$", "^[./]"],
  "importOrderSortSpecifiers": true
}
